/* POSTEOS */

.admin-post-list p span {
  color: #0074D9;
  cursor: pointer;
  user-select: none;
}

.admin-post-list p span:hover {
  color: #718fa8;
  text-decoration: underline;  
  user-select: none;
}

.admin-post-list{
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 1.2rem;
}