.imagen-carrito-producto {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.imagen-resumen-producto {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.titulo-producto {
    color: black;
}

.titulo-producto:hover {
    text-decoration: underline;
}

.delete {
    font-size: 32px;
    vertical-align: bottom;
    color: black;
    transition: color 250ms linear;
    user-select: none;
}

.delete:hover {
    color: red;
    cursor: pointer;
    transition: color 250ms linear;
}

.card-pedir {
    padding: 20px;
    border-radius: 20px;
}

.rojo {
    animation: pulse 2s linear;
    opacity: 80%;
}

@keyframes pulse {
    0% {
        background-color: inherit;
    }
    25% {
        background-color: red;
    }
    50% {
        background-color: inherit;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: inherit;
    }
}