/* PEDIDOS EN EL PERFIL */
/* .lista-pedidos-completa p{
    color: #039be5;
} */
.pedidos-wrapper a:hover{
    text-decoration: underline;
}
.icon-pedidos{
    padding: 0!important;
    margin: 0!important;
    
}
.icon-align {
    vertical-align: text-bottom;
    margin-left: auto!important;
    margin-right: auto!important;
 }
.icon-pedidos i{
    padding: 0!important;
    margin: 0!important;
}
.pedidos-wrapper a{
    color: black; 
}
.pedidos-col-1,.pedidos-col-2,.pedidos-col-3 {
    border-right: solid;
}
.boton-mover-estado{
    margin-left: auto;
}
.boton-mover-estado-r .btn:hover{
    background-color: #eee;
}
.boton-mover-estado .btn:hover{
    background-color: #eee;
}
.pedido-card{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 10px;
}
.card-collapsible-pedido{
    padding-bottom: 0;
    padding-top: 0;
}
.card-collapsible-pedido-footer{
    margin-top: 20px;
}
.card-collapsible-pedido-footer p{
    margin-top: 0;
}
.card-collapsible-pedido-comentario{
    padding-bottom: 5px;
}

 
/* ul.collapsible li{

} */